body {
   font-family: Arial, sans-serif;
   background-color: #3a3a3a;
   margin: 0;
   padding: 20px;
}

.container {
   max-width: 800px;
   margin: 0 auto;
   background-color: white;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
   text-align: center;
   color: #202020;
}

h2 {
   text-align: center;
   color: #333;
}

form {
   display: grid;
   gap: 15px;
}

section {
   display: flex;
   flex-direction: column;
   font-weight: 600;
}

label {
   font-size: 14px;
   margin-bottom: 5px;
}

select, input[type="number"] {
   padding: 8px;
   border-radius: 5px;
   border: 1px solid #ddd;
   font-size: 14px;
}

button {
   padding: 10px 20px;
   background-color: #007BFF;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
}

button:hover {
   background-color: #0056b3;
}

fieldset {
   padding: 10px;
   border: 1px solid #ddd;
   border-radius: 5px;
}

legend {
   font-size: 16px;
   font-weight: bold;
   margin-bottom: 10px;
}

.modal {
   display: none;
   position: fixed;
   z-index: 1000;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.5);
   justify-content: center;
   align-items: center;
}

.modal-content {
   background-color: white;
   padding: 20px;
   border-radius: 8px;
   max-width: 530px;
   width: 90%;
   text-align: center;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-content img {
   max-width: 100%;
   border-radius: 8px;
   margin-top: 10px;
}

.close {
   position: absolute;
   top: 10px;
   right: 20px;
   font-size: 40px;
   font-weight: bold;
   cursor: pointer;
   color: #727272;
}

.close:hover {
   color: red;
}

.container-modal {
   text-align: center;
   padding-top: 8px;
}

.container-modal > h2 {
   font-size: 18px;
   color: #111111;
}

#openModalPlacas, #openModalGabinetes {
   padding: 8px 12px;
   background-color: rgba(255, 68, 0, 0.863);
   font-size: 14px;
   font-weight: 600;
}

#openModalPlacas:hover, #openModalGabinetes:hover {
   opacity: 0.8;
}

#total {
   font-size: 18px;
   font-weight: bold;
   text-align: center;
   margin-top: 20px;
   padding: 10px;
   background-color: lightgreen;
   border-radius: 5px;
}

#waterCoolerSection {
   display: flex;
   align-items: center;
   gap: 10px;
}

#waterCoolerSection select {
   flex: 1;
}

#fansExtrasContainer {
   display: flex;
   align-items: center;
   gap: 10px;
}

#fansExtrasContainer input {
   width: 50px;
}

#info {
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: end;
}

#info > a {
   padding: 6px;
   text-decoration: none;
   font-size: 14px;
   font-weight: 600;
   color: white;
   background-color: rgb(255, 166, 0);
   border-radius: 4px;
}

#info > a:hover {
   background-color: rgb(252, 178, 40);
   font-size: 15px;
   transition: 0.3s;
}